<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Post Job</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
	<style type="text/css">
		body {
			background-image: url("{% static 'bg.jpg' %}");
			background-size: cover;
		}
		.container-fluid {
			padding: 0px;
		}
		.wrapper{
			padding-left: 15px;
			padding-right: 15px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #696246;">
				<ul class="navbar-nav col-11">
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">{{char.char_name}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" href="/findJob">Find Job</a>
					</li>
					<li class="nav-item active">
						<a class="nav-item nav-link" href="/postJob">Create Job</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" href="/villagers">Villagers</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" href="/messages">Messages</a>
					</li>
				</ul>
				<ul class="navbar-nav col-1">
					<li class="nav-item" style="border-right: none;">
						<a class="nav-item nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</nav>
		<div class="wrapper">
			<h1>Post a Job</h1>
			<form action="/validJob" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label>Job Title</label>
					<span class="red">{{ request.session.job_errors.job_title }}</span>
					<input class="form-control col-6" type="text" name="job_title">
				</div>
				<div class="form-group">
					<label>Description</label>
					<span class="red">{{ request.session.job_errors.description }}</span>
					<textarea class="form-control col-6" name="description"></textarea>
				</div>
				<div class="form-group">
					<label>Recommended Occupation</label>
					<select class="form-control col-6" name="job_occupation">
						<option value="Simple Villager">Simple Villager</option>
						<option value="Hunter">Hunter</option>
						<option value="Farmer">Farmer</option>
						<option value="Mercenary/Assassin">Mercenary/Assassin</option>
						<option value="Artist">Artist</option>
						<option value="Entertainer">Entertainer</option>
						<option value="Blacksmith">Blacksmith</option>
						<option value="Mechanic">Mechanic</option>
						<option value="Merchant">Merchant</option>
						<option value="Sailor">Sailor</option>
						<option value="Scholar">Scholar</option>
						<option value="Soldier">Soldier</option>
						<option value="Adventurer">Adventurer</option>
					</select>
				</div>
				<div class="form-group">
					<label>Reward Amount</label>
					<span class="red">{{ request.session.job_errors.reward }}</span>
					<input class="form-control col-2" type="text" name="reward">
					<small>Must be a whole number</small>
				</div>
				<button class="btn btn-info" type="submit">Post Job</button>
			</form>
		</div>
	</div>
</body>
</html>